obj
bin
Bin
debug
Debug
Debug_NoPostSharp
release
Release
Data
Drops
_Resharper.*
*.DotCover
*.opensdf
*.sdf
*.xap
*.old
*.user
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.ReSharper
*.suo
*.cache
*.Cache
*~
*.swp
*.dbproj.user
*.dbproj.schemaview
*.dbmdl
*.log
*.ser
*.dbmdl